@use '../var/variable.scss' as *;

.#{$namespace}-category {
  &__item {
    &:hover &--remove-icon {
      opacity: 1;
      pointer-events: all;
    }

    &--remove-icon {
      transition: all 0.3s;
      opacity: 0;
      pointer-events: none;
    }

    &--active {
      background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.ant-descriptions-item-content {
  min-width: 0;
}

.description-item {
  &__field {
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
    cursor: pointer;
  }

  &:hover {
    .description-item__field {
      opacity: 0.6;
      pointer-events: all;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.#{$namespace}-password__hover {
  position: relative;
  z-index: 2;
  border-radius: 4px;
  transition: all 0.18s;

  &:hover {
    opacity: 0.6;
    background-color: var(--mask-color);
    z-index: 2;

    svg {
      opacity: 1;
    }
  }

  input {
    cursor: pointer !important;
    color: inherit !important;
    z-index: 0.6;
  }

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%) scale(0.5);
    transition: all 0.18s;
    opacity: 0;
  }
}
